.cMain {
  color: white;
  /* text-align: left; */
  padding-bottom: 20px;
  margin-top: 30px;
}
.cMain h1,
p {
  text-align: left;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.img p {
  max-width: 150px;
  text-align: center;
  font-size: 14px;
}
@media only screen and (max-width: 880px) {
  .flex {
    display: flex;
    flex-direction: column;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-evenly;
    margin-top: 40px;
  }
  .img p {
    max-width: 350px;
    margin-left: 80px;
    font-size: 14px;
    text-align: left;
  }
  .img {
    display: flex !important;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
