.cMain {
  color: white;
  /* text-align: left; */
  padding-bottom: 30px;
  padding-top: 30px;
}
.cMain h1,
p {
  text-align: left;
}
.cMain p span {
  color: #bfc500;
}
.teamFooter {
  color: white;
}
.teamFooterr span {
  font-weight: 600;
}
.link {
  font-weight: 400 !important;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
  text-decoration: underline !important;
}
.gridImage {
  padding-top: 30px;
}
