.cMain {
  color: white;
  /* text-align: left; */
  padding-bottom: 30px;
  padding-top: 30px;
}
.cMain h1,
p {
  text-align: left;
}

@media only screen and (max-width: 1055px) {
  .cMain {
    padding-bottom: 60px;
  }
}
