.cMain {
  color: white;
  /* text-align: left; */
  padding-bottom: 30px;
  padding-top: 30px;
}
.cMain h1,
p {
  text-align: left;
}
.shirtBackground {
  background: #bfc500 !important;
  width: 300px;
  height: 300px;
  /* margin-left: 50px; */
}
.shirtBackground img {
  position: absolute;
  margin-left: -180px;
}
.listData {
  display: flex;
}
.listData p {
  padding-right: 30px;
}
.listData p:first-child {
  color: #bfc500;
  font-style: italic;
}
.listData p:nth-child(2) {
  font-size: 14px;
  font-weight: 300;
}
.listData:last-child p {
  padding-right: 20px;
}
@media only screen and (max-width: 1055px) {
  .shirtBackground {
    margin-left: auto;
    margin-right: auto;
  }
  .cMain {
    padding-bottom: 60px;
  }
}
